
<div *ngIf="!item" class="loading-section">
</div>

<div *ngIf="item"> 
<!-- <div *ngFor="let item of allItems"> -->
	<div class="item-laptop">
		<p>
			<a class="title" href="{{item.url}}">
			{{item.title}}
			</a>
			<span class="domain">{{item.url | domain}}</span>
		</p>
		<div class="subtext-laptop">
		 {{item.score}} points by
		 <a href="">{{item.by}}</a>
		 {{item.time*1000 | date}}
		 <a href="">
		 	<span *ngIf="item.descendants !== 0">
		 	{{item.descendants}}
		 	<span *ngIf="item.descendants === 1">comments</span>
		 	<span *ngIf="item.descendants > 1">comments</span>
		 	</span>
		 	<span *ngIf="item.descendants === 0">discuss</span>
		 </a>
		</div>
	</div>
</div>
